h1 {
	font-family: Consolas;
	color: red;
}

span {
	color: green;
}
h3 {
	font-family: Consolas;
	color: aqua
}

div{
	border-color: black;
	border-style: solid;
	width: 255px;
	height: 145px;
}

a {
	font-family:"Comic Sans MS";
}
