html {
	background-color:silver;
}


#PageHead {
text-align: center;
background-color:gray;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
border-color: red;
border-width: thin;
border-top-color: gray;
width: auto;
height: auto;
padding-top: 0;
margin-top: 0;

}

#SubHead {
text-align: center;
background-color:gray;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
border-color: red;
border-width: thin;
border-top-color: gray;
width: 50%;
height: auto;
padding-top: 0;
margin-top: 0;
margin-left: auto;
margin-right:auto;
 
}

#ProjectHead {
text-align: center;
background-color:gray;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
border-color: red;
border-width: thin;
border-top-color: gray;
width: 30%;
height: auto;
padding-top: 0;
margin-top: 0;
margin-left: auto;
margin-right:auto;
 
}

#Projects #Others {
text-align: center;
background-color:gray;
border-radius: 25px;
border-color: red;
border-width: thin;
width: 50%;
height: auto;
padding-top: 0;
margin-top: 0;
margin-left: auto;
margin-right:auto;
 
}



h1 {
	font-family: Consolas;
	color: red;
}

span {
	color: green;
}
h3 {
	font-family: Consolas;
	color: aqua
}

div{
	border-color: black;
	border-style: solid;
	width: 255px;
	height: 220px;
}

a {
	font-family:"Comic Sans MS";
}
