#header {
text-align: center;
background-color:black;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
border-color: red;
border-width: thick;
border-top-color: black;
width: auto;
height: auto;
padding-top: 0;
margin-top: 0;
}

html {
 background-color: gray;
}
