#header {
text-align: center;
background-color:black;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
border: 2px solid red;
border-top-color: black;
width: auto;
height: auto;
}

html {
 background-color: gray;
}
