h1 {
	color: #000000;
	font-size: normal;
	transition: color , font-size 0.7s ease-in 0.0s;
	
}

#Insult:hover {
	color: #FF0000;
	font-size: large;
}

#Insult {
	width: auto;
	margin: auto;
	animation: move 1s ease-in-out 0.5s 2 infinite alternate; 
   -webkit-animation: move 1s ease-in-out 0.5s 2 infinite alternate; 
}
   
@keyframes move {
   from { 
      transform: translateX(0); 
   }
   to { 
      transform: translateX(100px);
   }
}

@-webkit-keyframes move {
   from { 
      -webkit-transform: translateX(0); 
   }
   to { 
      -webkit-transform: translateX(100px);
   }
 }
