h1 {
	color: #000000;
	font-size: small;
	transition: color , font-size 0.7s ease-in 0.0s;
	
}

h1:hover {
	color: #FF0000;
	font-size: large;
}

#Insult {
	background-color:gray;
	width: 50px;
	animation: move 1s ease-in-out 0.5s 2 alternate; 
   -webkit-animation: move 1s ease-in-out 0.5s 2 alternate; 
}
   
@keyframes move {
   from { 
      transform: translateX(0); 
   }
   to { 
      transform: translateX(100px);
   }
}

@-webkit-keyframes move {
   from { 
      -webkit-transform: translateX(0); 
   }
   to { 
      -webkit-transform: translateX(100px);
   }
 }
