vti_encoding:SR|utf8-nl
vti_author:SR|ADAM-LAPTOP\\Adam
vti_modifiedby:SR|ADAM-LAPTOP\\Adam
vti_timelastmodified:TR|23 Feb 2014 14:25:04 -0000
vti_timecreated:TR|23 Feb 2014 00:54:35 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|BubbleText/default.html BubbleText/backup.html
vti_nexttolasttimemodified:TW|23 Feb 2014 00:56:38 -0000
vti_cacheddtm:TX|23 Feb 2014 14:25:04 -0000
vti_filesize:IR|44
